{% extends 'admin/base.html' %}

{% block title %} ورود ادمین {% endblock %}

{% block content %}
<form action="{{url_for('admin.login')}}" method="POST" style="background-color:burlywood;">
    {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        <div class="row">
            {% for message in messages %}
            <div class="card {{message[0]}}">
            <div class="section">
                {{ message[1] }}
            </div>
            </div>
            {% endfor %}
            
        </div>
        {% endif %}
    {% endwith %}
    {{form.hidden_tag()}}
    Email : {{form.email }} <br>
    Password : {{form.password }} <br>
    <input type="submit" value="Login">
</form>
{% endblock %}