{% extends 'base.html'%}

{% block title %} خدمات برش {% endblock %}

{% block styleing %}
<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td,
  th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(True) %}
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="card">
        <div style="background-color: green;" class="section">
            {{ message[1] }}
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}
{% endwith %}


<form action="{{url_for('khadamati.kh_cut')}}" style="background-color:burlywood;">
    <center>
        <h1>خدمات برش</h1>
    </center>

</form>

<form action="{{url_for('khadamati.kh_cut')}}" method="POST" enctype="multipart/form-data"
    style="background-color:burlywood;">

    <center>
      <p style="font-size: large;"> لطفا اندازه برش ها را یک به یک وارد کنید</p>
  </center><br>
  {{ form.hidden_tag() }}
  <div style="margin-left: 10;float: left;">طول : {{ form.height(size=1, maxlength=50)  }}</div>
  <div style="margin-left: 10;float: left;">عرض : {{ form.width(size=1, maxlength=50) }}</div>
  <div style="margin-left: 10;float: left;">تعداد : {{ form.qty(size=1, maxlength=50) }}</div> 
  <div style="margin-left: 10;float: left;">نوع ورق : {{ form.mdf_model(size=1, maxlength=50) }}</div> 
  <div style="margin-left: 10;float: left;">pvc : {{ form.pvc }}</div>
  <div style="margin-left: 10;float: left;">شیار : {{ form.shiar }}</div> 
  <div style="margin-left: 10;float: left;">فارسی : {{ form.farsi }}</div><br><br><br><br>
  <div style="margin-left: 10;float: left;">چرخش : {{ form.Charkhesh }}</div>   
  <div style="margin-left: 10;float: left;">توضیحات : {{ form.about(size=1, maxlength=50) }}</div> 



  <br><br><br><br><br>
  <div style="margin-left: 10;float: left;">آپلود فایل :↓ <br><br>{{ form.file }} </div> <br><br><br><br>

  <div style="margin-left: 10;float: left;"><input type="submit" value="ثبت سفارش"> </div>
  <br><br><br><br><br>








  <table>
    
    <!-- <caption>پروژه ها</caption> -->
    <thead>
      <tr>
        <!-- <th>ردیف</th> -->
        <th>طول</th>
        <th>عرض</th>
        <th>تعداد</th>
        <th>pvc جهت</th>
        <th>نوع ورق</th>
        <th>شیار</th>
        <th>فارسی</th>
        <!-- <th>چرخش</th> -->
        <th>توضیحات</th>


      </tr>
    </thead>
    <tbody>
        {% for table in project_name %}
        <tr>
          <td data-label="طول">{{ table.height }}</a></td>
          <td data-label="عرض">{{ table.width }}</td>
          <td data-label="تعداد">{{ table.qty }}</a></td>
          <td data-label="pvc جهت ">{{ table.pvc }}</a></td>
          <td data-label="نوع ورق">{{ table.mdf_model }}</a></td>
          <td data-label="شیار">{{ table.shiar }}</a></td>
          <td data-label="فارسی">{{ table.farsi }}</a></td>
          <!-- <td data-label="چرخش">{{ table.Charkhesh }}</a></td> -->
          <td data-label="توضیحات">{{ table.about }}</a></td>


        </tr>
        {% endfor %}
    </tbody>
  </table>





    <br><br><br><br>

</form>
{% endblock %}