{% extends 'base.html' %}

{% block title %} خدماتی {% endblock %}

{% block content %}

<form action="{{url_for('khadamati.index')}}" style="background-color:burlywood;">
    <center><h1>خدماتی</h1></center>
</form>

<form action="{{url_for('khadamati.index')}}" style="float: left;background-color:burlywood;">
    <div id="content" style="background-color: rgb(161, 114, 53);">
    <center><a href="{{url_for('khadamati.khadamat_mdf')}}">
        <img style="width: 609;height: 350;" src="https://s16.picofile.com/file/8419795318/khadamat_mdf.jpeg" alt="">
        <h1>mdf خدمات</h1>
    </a>
    </center>
    <br>
    </div>
</form>

<form action="{{url_for('khadamati.index')}}" style="float: left;background-color:burlywood;">
    <div id="content" style="background-color: rgb(161, 114, 53);">
    
    <center><a href="{{url_for('khadamati.khadamat_choob')}}">
        <img style="width: 609;height: 350;" src="https://s16.picofile.com/file/8419795426/khadamat_choob.jpeg" alt="">
        <h1>خدمات چوب</h1>
    </a>
    </center>
    <br>
    </div>
</form>



{% endblock %}