{% extends 'base.html' %}
{% block title %} ثبت نام {% endblock %}

{% block content %}

<form action="{{url_for('khadamati.register')}}" style="background-color:burlywood;" >
        <center><h1>ثبت نام</h1></center>
    </form>

<form action="{{url_for('khadamati.register')}}" method="POST" style="background-color:burlywood;">

    {% with messages = get_flashed_messages(True) %}
    {% if messages %}
    <div class="row">
        {% for message in messages %}
        <div class="card {{message[0]}}">
            <div class="section">
                {{ message[1] }}
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}
    {% endwith %}
    {{ form.hidden_tag()}}
    نام کاربری:{{ form.username(size=30, maxlength=32) }}  
    {% if form.username.errors %}
    <ul>
        {% for error in form.username.errors %}
        <li style="color: red;"> {{ error }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br>
    آدرس ایمیل: {{ form.email(size=30, maxlength=128) }}
    {% if form.email.errors %}
    <ul>
        {% for error in form.email.errors %}
        <li style="color: red;"> {{ error }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br>
    گذرواژه: {{ form.password(size=30, maxlength=32) }}
    {% if form.password.errors %}
    <ul>
        {% for error in form.password.errors %}
        <li style="color: red;"> {{ error }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br>
    تکرار گذرواژه: {{ form.confirm_password(size=30, maxlength=32)}}
    {% if form.confirm_password.errors %}
    <ul>
        {% for error in form.confirm_password.errors %}
        <li style="color: red;"> {{ error }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br>
    <input type="submit" value="ثبت نام">
</form>


{% endblock %}