{% extends 'base.html' %}

{% block title %} ورود کاربر {% endblock %}

{% block content %}
<form action="{{url_for('users.login')}}" style="background-color:burlywood;" >
    <center><h1>ورود به حساب</h1></center>
</form>
<form action="{{url_for('users.login')}}" method="POST" style="background-color:burlywood;">
    {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        <div class="row">
            {% for message in messages %}
            <div class="card {{message[0]}}">
            <div class="section">
                {{ message[1] }}
            </div>
            </div>
            {% endfor %}
            
        </div>
        {% endif %}
    {% endwith %}
    {{form.hidden_tag()}}
    آدرس ایمیل : {{form.email }} <br><br>
    گذرواژه : {{form.password }} <br><br>
    <input type="submit" value="ورود">
    <a href="{{url_for('users.register')}}">ثبت نام</a>
</form>

{% endblock %}